.carts 
{
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    gap: 10px;
}

.actions 
{
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    min-height: 100px;
}